* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

body {
    background: #f7f8fa;
}


.top-bar {
    background: #ffffff;
    padding: 16px 32px;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.logo-icon {
    color: white;
    padding: 8px;
    border-radius: 8px;
}


.container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 380px;
    background: #ffffff;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}


.icon-box {
    width: 52px;
    height: 52px;
    background: #4f46e5;
    color: white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}


h2 {
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 24px;
}


label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    margin-top: 14px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #2563eb;
}


.password-box {
    position: relative;
}

.eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    cursor: pointer;
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    font-size: 14px;
}

.remember {
    display: flex;
    gap: 6px;
}

.forgot {
    color: #2563eb;
    text-decoration: none;
}


.btn-primary {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    
}

.btn-primary:hover {
    background: #1d4ed8;
}


.signup {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
}

.signup a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}


.demo-box {
    margin-top: 20px;
    background: #f9fafb;
    padding: 12px;
    border-radius: 8px;
    font-size: 13px;
    color: #374151;
    border: 1px dashed #d1d5db;
}