* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f7f8fa;
}


.top-bar {
    padding: 16px 32px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.logo-icon {
    background: #4f46e5;
    color: white;
    padding: 8px;
    border-radius: 8px;
}


.container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 380px;
    background: white;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


.icon-box {
    width: 50px;
    height: 50px;
    background: #4f46e5;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}


h2 {
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 24px;
}

/* Inputs */
label {
    display: block;
    margin-top: 14px;
    margin-bottom: 6px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #4f46e5;
}

/* Password */
.password-box {
    position: relative;
}

.eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
}

/* Terms */
.terms {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    font-size: 14px;
}

.terms a {
    color: #4f46e5;
    text-decoration: none;
}

/* Button */
.btn-primary {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #4338ca;
}

/* Sign in */
.signin-text {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
}

.signin-text a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
}